
*{
    margin: 0;
    padding: 0;
}
.parallax{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)),url(bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-transform: uppercase;
    line-height: 70px;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.title h1{
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 3px;
}
.title h2{
    font-size: 18px ;
    font-weight: 100;
    letter-spacing: 13px;
}
.text{
    margin: 100px auto;
    padding: 0 100px;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 3px;
}

















































